#
# .gitconfig
# https://git-scm.com/docs/git-config
#
[core]
	excludesFile = ~/.gitignore_global
	attributesFile = ~/.gitattributes_global
[user]
	name = Takuma Watanabe
	email = takumaw@sfo.kuramae.ne.jp
	signingKey = 0CC49C7EF2A82A0BA7424758A6B2264573065648
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[fetch]
	prune = true
[pull]
	rebase = false
[push]
	followTags = true
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
[transfer]
	fsckObjects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
